.m-form-input input{
    border-radius: 50px!important;
    text-align: center;
}
.m-card{
    -webkit-border-bottom-right-radius: 500px!important;
    -webkit-border-bottom-left-radius: 500px!important;
    -moz-border-radius-bottomright: 500px!important;
    -moz-border-radius-bottomleft: 500px!important;
    border-bottom-right-radius: 500px!important;
    border-bottom-left-radius: 500px!important;
    border: 0!important;
}
.m-card-simple{
    /*-webkit-border-bottom-right-radius: 500px!important;*/
    /*-webkit-border-bottom-left-radius: 500px!important;*/
    /*-moz-border-radius-bottomright: 500px!important;*/
    /*-moz-border-radius-bottomleft: 500px!important;*/
    border-radius: 30px!important;
    border: 0!important;
}
.m-rad{
    border-radius: 30px!important;
}
